@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Serif&display=swap');

:root {
/* Colors */
--primary: #DDDBD3;
--accent: #9C8214;
--dark: #464646;
--mid: #9C8B7F;

/* Util */
--gradient-light: linear-gradient(to bottom, var(--primary), transparent);
--gradient-light-right: linear-gradient(to right, var(--primary), transparent);
--gradient-light-left: linear-gradient(to left, var(--primary), transparent);
--gradient-white: linear-gradient(to bottom, white, transparent);
--box-shadow: 5px 5px 7px rgba(0,0,0,0.3);

/* Fonts */
--font-body: 'Montserrat', sans-serif;
--font-title: 'Noto Serif', serif;

/* Spacing */
--space-sm: 1rem;
--space-md: 2rem;
--space-lg: 4rem;
}

*, *:before, *:after {
  box-sizing: border-box;
}



body {
  font-family: var(--font-body);
  letter-spacing: 0.15rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  color: var(--dark);
}

html {
  overflow-x: hidden;
}


/* Typography */

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  text-transform: capitalize;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 600;
}


h1, .h1 {
  font-size: 2.2rem;

}

h2, .h2 {
  font-size: 1.8rem;

}

h3, .h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

.para {
  max-width: min(40ch, 65vw);
}

.para--right {
  margin-left: auto;
}

.quote {
  font-size: 1.75rem;
  font-style: italic;
  font-weight: 700;
  font-family: var(--font-title);
  opacity: 0.8;
  max-width: 30ch;
}

.quote span {
  font-family: var(--font-body);
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
}

/* Ulti */

.bg-primary {
  background-color: var(--primary);
}
.bg-dark {
  background-color: var(--dark);
  color: white;
}

/* Components */

.skip a {
  position: absolute;
  display: block;
  margin-top: 1em;
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
}
.skip a:focus {
  text-align: center;
  position: sticky;
  width: auto;
  margin: 1rem auto;
  height: auto;
  opacity: 1;
}

.card-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  column-gap: 5rem;
  row-gap: 3rem;
}

.btn--image {
  border: none;
  background: none;
}



/* Layout */

.container {
  width: 85vw;
  margin: auto;
  max-width: 200rem;
}

.page > * + *{
  margin-top: 5vh;
}

.section {
  min-height: 100vh;
  padding: 5rem 0;
}

.flow {
  display: flex;;
  flex-direction: column;
}

.flow > * + * {
  margin-top: 1rem;
}

.flow--sm > * + * {
  margin-top: 0.5rem;
}

.flow--md > * + * {
  margin-top: 2rem;
}

.flow--lg > * + * {
  margin-top: 6rem;
}

.hflow {
  display: flex;
  align-items: center;
}

.hflow > * + * {
  margin-left: 1rem;
}

.space {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.space > * + * {
  margin-left: var(--space-sm)
}

.space-md > * + * {
  margin-left: var(--space-md)
}



@media (min-width: 786px) {
  .space {
    flex-direction: row;
  }
  
  .space > * + * {
    margin-top: var(--space-sm)
  }
  
}

@media (min-width: 1800px) {
  body {
    font-size: 1.3rem;
  }

  .flow--md > * + * {
    margin-top: 4rem;
  }
  
}